.form-again {
  margin: 0 0 0 10px;
}

.form-info {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.form-info input {
  width: 90%;
}

.previous {
  background-color: #3b5249;
  width: 100px;
  font-weight: bold;
  height: 30px;
  color: white;
  position: absolute;
  margin: 20px auto;
}
