header {
  font-family: Roboto;
  position: relative;
  background-color: #519872;
  height: 40px;
  margin: auto 0;
  display: flex;
  padding: 15px 0px;
}

header div {
  width: 50%;
  margin: 0 auto;
}

img {
  /* padding: 10px 0px; */
  height: 30px;
  width: 40px;
  margin-right: 5px;
}

span {
  /* padding: 10px 0px; */
  color: white;
  font-size: 30px;
}

.header-text {
  text-decoration: none;
}
