@import url("https://fonts.googleapis.com/css?family=Roboto|Pacifico");
.App {
  background-color: #afd4c0;
  justify-content: center;
  height: 100%;
}

.form {
  font-family: Roboto;
}

.complete {
  background-color: #3b5249;
  color: white;
}

input {
  border-color: 5px #afd4c0 solid;
}
