@import url("https://fonts.googleapis.com/css?family=Roboto|Pacifico");

.App {
  text-align: center;
}

header {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  background-color: #519872;
}

.house-listing-container {
  background-color: #dedede;
}

.house-listing-container img {
  width: 200px;
  height: 150px;
}

.cancel-button {
  background-color: rgb(255, 131, 131);
  font-weight: bold;
}

.form {
  font-family: Roboto;
}

.nextstep {
  background-color: #3b5249;
  color: white;
}

.previous {
  background-color: #3b5249;
  color: white;
}

.complete {
  background-color: #3b5249;
  color: white;
}

input {
  border-color: #519872;
}
